body {
  margin: 0;
}
#loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  font-weight: bold;
  transform: translate(-50%, -50%);
}
.pspdfkit-container {
  display: flex;
}

.pane-container {
  display: flex;
  border: 1px solid #cbd5e0;
  height: calc(100vh - 2px);
  width: calc(100% - 2px);
}
.resizer[data-direction='horizontal'] {
  background-color: #cbd5e0;
  cursor: ew-resize;
  height: 100%;
  width: 2px;
}
.resizer[data-direction='vertical'] {
  background-color: #cbd5e0;
  cursor: ns-resize;
  height: 2px;
  width: 100%;
}
.resizer[data-direction='horizontal']::before {
  top: 50%;
}
.resizer[data-direction='vertical']::before {
  left: 50%;
  top: auto;
  rotate: 90deg;
  margin-top: -18px;
  margin-left: -30px;
}
.resizer.resizerSection::before{
  background: #FFFFFF;
  content: '.';
  position: absolute;
  font-size: 20px;
  color: grey;
  text-shadow: 0 5px grey, 0 10px grey;
  box-shadow: 1px 1px 5px grey;
  border: 1px solid grey;
  height: 50px;
  width: 15px;
  border-radius: 5px;
  text-align: center;
  transform: translate(-50%, -50%);
  /* text-shadow: 0 5px #ac14c2, 0 10px #ac14c2, 5px 0 #ac14c2, 5px 5px #ac14c2, 5px 10px #ac14c2, 10px 0 #ac14c2, 10px 5px #ac14c2, 10px 10px #ac14c2; */
}
.container__left {
  position: relative;
  display: flex;
  width: 25%;
  flex-direction: column;
  padding: 5px;
}
.container__right {
  flex: 1;
  display: flex;
  padding: 5px;
}
.container__top {
  height: 50%;
  display: flex;
  overflow-y: scroll;
  padding: 5px;
}
.container__bottom {
  flex: 1;
  display: flex;
  overflow-y: scroll;
  padding: 5px;
}

.left-pane {
  /* flex: 0 0 20%; */
  width: 25%;
  padding: 20px 10px;
  background: grey;
}
.right-pane {
  flex: flex;
  width: calc(100%);
  height: calc(100vh);
}
.left-pane-content {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.left-pane-content > span {
  height: 20px;
  cursor: pointer;
}
#root {
  display: flex;
  width: calc(100%);
  height: calc(100vh);
}
#pspdfkit {
  width: calc(100%);
  height: calc(100vh);
}
#loader-container > .timer {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
#loader-container > .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
