/*
.PSPDFKit-Text-Markup-Inline-Toolbar-Strike-Out,
.PSPDFKit-Text-Markup-Inline-Toolbar-Underline,
.PSPDFKit-Text-Markup-Inline-Toolbar-Squiggle {
  display: none;
}
.PSPDFKit-Popover-Text-Markup-Toolbar {
  display: none;
}
*/

.PSPDFKit-Popover-Text-Markup-Toolbar {
  display: none !important;
}

#context-menu {
  list-style: none;
  padding: 0;
  background-color: grey;
  font-size: 10px;
  border: none;
  margin: 0;
}
#context-menu > li {
  padding: 0px 15px;
  background-color: #FFFFFF;
}
#context-menu > li:hover {
  background-color: #3e8e41;
  color: white;
  cursor: pointer;
}

